/* style.less */
/*Ingredients*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, dl {
  list-style-position: inside; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

/* Golden Ratio 1.618 */
/* -----------------------------  */
/* Color Scheme */
/* Base Color for Design */
/* $group Styles */
/* Type Ratio */
/* Typography metrics & leading */
/* ================================================================= */
/*				@breakpoint				 							*/
/* =============================================================== */
/*Recipes*/
body.type {
  hyphens: auto;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Avenir Next Condensed", "Avenir Next", Verdana, sans-serif;
  color: #1f1f1f;
  line-height: 1.618;
  /* no list style for ul or ol */ }
  body.type h1, body.type h2, body.type h3, body.type h4, body.type h5, body.type h6 {
    font-weight: bold;
    padding-bottom: 1rem; }
  body.type h1 {
    font-size: 9.0158855643vh; }
  body.type h2 {
    font-size: 5.572240769vh; }
  body.type h3 {
    font-size: 3.4436447953vh; }
  body.type h4 {
    font-size: 2.1283342369vh; }
  body.type h5 {
    font-size: 1.3153105584vh; }
  body.type h6 {
    font-size: 1.3153105584vh; }
  body.type p, body.type li, body.type dt, body.type dd, body.type table, body.type form {
    font-weight: normal;
    font-size: 2.1283342369vh; }
  body.type p {
    font-family: "Georgia", serif;
    padding-bottom: 1.618vh; }
  body.type h5, body.type h6, body.type em, body.type strong {
    letter-spacing: 1px; }
  body.type .unstyle {
    list-style: none; }

/*  |---------------|END type |---------------|  */
body.images img, body.images embed, body.images object, body.images video {
  border-style: none;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  padding: 1.618vw; }

/*  |---------------| END body |---------------|  */
body.links a {
  color: #1f1f1f;
  text-decoration: none;
  position: relative;
  z-index: 95; }
body.links a:hover {
  color: #a5a5a5; }
body.links a:active {
  color: #5b5b5b; }
body.links p a {
  color: gray;
  text-decoration: underline; }
  body.links p a:hover {
    text-decoration: none; }

/*  |---------------|END of Body Links |---------------|  */
body.layout {
  margin-top: 7.853772vh;
  /* @group NINJA MOVE */
  /* @end */
  /* =========================================================== */ }
  body.layout *, body.layout body, body.layout img, body.layout embed, body.layout object, body.layout video, body.layout iframe {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }
  body.layout section, body.layout hr {
    border-bottom: 1px solid gray;
    box-shadow: 0 8px 6px -6px #a5a5a5; }
  body.layout section:before, body.layout section:after, body.layout .clearfix:before, body.layout .clearfix:after, body.layout .group:before, body.layout .group:after, body.layout header:before, body.layout header:after, body.layout footer:before, body.layout footer:after, body.layout .full:before, body.layout .full:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden; }
  body.layout section:after, body.layout .clearfix:after, body.layout .group:after, body.layout header:after, body.layout footer:after, body.layout .full:after {
    clear: both; }
  body.layout section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: baseline;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  body.layout header, body.layout footer, body.layout article, body.layout aside, body.layout div {
    padding: 3.4439065322%; }

/*  |---------------|END of Body layout |---------------|  */
body.navbar {
  /* ================================================================= */
  /*				1st lvl menu				 						*/
  /* =============================================================== */
  /* ================================================================= */
  /*				2rd lvl menu				 						*/
  /* =============================================================== */
  /* ================================================================= */
  /*				3rd lvl menu				 						*/
  /* =============================================================== */
  /* ================================================================= */
  /*				Header Nav Bar				 						*/
  /* =============================================================== */
  /* /header nav */ }
  body.navbar nav {
    z-index: 98; }
    body.navbar nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      list-style: none; }
      body.navbar nav ul li a {
        padding: 0.5em 1.25em;
        display: block;
        font-size: 3.236vh; }
        body.navbar nav ul li a:hover {
          color: white;
          background-color: #5b5b5b; }
  body.navbar nav ul li:hover ul {
    z-index: 99;
    display: block;
    position: absolute; }
  body.navbar nav ul li ul {
    display: none;
    width: 0; }
    body.navbar nav ul li ul li a {
      min-width: 25vmax;
      background-color: #e1e1e1;
      box-shadow: 0 8px 6px -6px #a5a5a5; }
      body.navbar nav ul li ul li a:hover {
        color: white; }
  body.navbar nav ul li:hover ul li ul {
    display: none; }
  body.navbar nav ul li:hover ul li:hover ul {
    display: block;
    position: relative;
    top: -7vh;
    left: 14vw; }
  body.navbar header nav {
    position: fixed;
    /* place nav at top of window */
    top: 0;
    left: 0;
    /* /ul */ }
    body.navbar header nav ul {
      -webkit-flex-direction: column;
      flex-direction: column;
      /* /li*/
      /*show the nav bar*/
      /* /ul:before */ }
      body.navbar header nav ul li {
        background-color: #e1e1e1;
        /* default color / style of nav */
        /*hide the nav bar*/
        margin-top: -100vh;
        /* 2nd lvl nav */ }
        body.navbar header nav ul li ul:before {
          display: none; }
        body.navbar header nav ul li ul li a {
          display: block;
          position: relative;
          top: -7vh;
          left: 14vw; }
      body.navbar header nav ul:hover li {
        margin-top: 0; }
      body.navbar header nav ul:before {
        content: "MENU";
        font-weight: bold;
        line-height: 1;
        text-align: center;
        background-image: url(menu_icon.svg);
        background-size: 34px;
        background-repeat: no-repeat;
        background-position: center center;
        height: 4.5em;
        width: 4.5em;
        display: block;
        padding: 0.5em;
        /* move button from corner */
        background-color: #e1e1e1; }

/*  |---------------|END Navbar |---------------|  */
body.tables {
  /* $group Table */
  /* $end */ }
  body.tables table {
    text-align: left;
    border: 1px solid gray;
    width: 100%; }
  body.tables table caption, body.tables table th, body.tables table td {
    empty-cells: show;
    padding: 2.1283342369%;
    border-bottom: 1px solid #a5a5a5; }
  body.tables table th {
    background-color: #5b5b5b;
    color: white; }
  body.tables table tr:nth-child(even) {
    background-color: #e1e1e1; }

/*  |---------------|END of Tables |---------------|  */
/* Desktop Breakpoint Recipes*/
@media screen and (min-width: 80.9em) {
  body.desktop-layout {
    /*Layout*/
    /*Images*/ }
    body.desktop-layout section {
      -webkit-flex-direction: row;
      flex-direction: row; }
    body.desktop-layout .full {
      width: 100%; }
    body.desktop-layout .large {
      width: 61.804697157%; }
    body.desktop-layout .xlarge {
      width: 70.8223768146%; }
    body.desktop-layout .med {
      width: 38.195302843%; }
    body.desktop-layout .small {
      width: 23.6064912503%; }
    body.desktop-layout .xsmall {
      width: 14.5888115927%; }
    body.desktop-layout img.left, body.desktop-layout embed.left, body.desktop-layout object.left, body.desktop-layout video.left {
      float: left;
      margin: 0.8129237073% 3.4439065322% 0.8129237073% 0.8129237073%; }
    body.desktop-layout img.right, body.desktop-layout embed.right, body.desktop-layout object.right, body.desktop-layout video.right {
      float: right;
      margin: 0.8129237073% 0.8129237073% 0.8129237073% 3.4439065322%; }

  /*  |---------------|END of Desktop Layout |---------------|  */ }
/*  |---------------|END of @media |---------------|  */
@media screen and (min-width: 80.9em) {
  body.desktop-nav {
    /* /header nav */ }
    body.desktop-nav header nav {
      position: static;
      /* place nav at top of window */
      /* /ul */ }
      body.desktop-nav header nav ul {
        -webkit-flex-direction: row;
        flex-direction: row;
        /* /li*/
        /* /ul:before */ }
        body.desktop-nav header nav ul li {
          margin-top: 0;
          background: none;
          /*/ul*/ }
          body.desktop-nav header nav ul li ul li a {
            /* Show 2nd lvl nav */
            position: static; }
        body.desktop-nav header nav ul:before {
          display: none;
          /* No MENU icon */ }

  /*  |---------------|END of Desktop Nav |---------------|  */ }
/*/@media desktop*/
