/* ================================================================= */
/*				@breakpoint				 							*/
/* =============================================================== */
/*Ingredients*/
/* Golden Ratio 1.618 */
/* -----------------------------  */
/* Color Scheme */
/* Base Color for Design */
/* $group Styles */
/* Type Ratio */
/* Typography metrics & leading */
/* ================================================================= */
/*				@breakpoint				 							*/
/* =============================================================== */
#gld_units {
  font-family: monospace;
  letter-spacing: 1px; }
  #gld_units dd.boxtest {
    background-color: #444;
    margin-bottom: 1.3154105296%; }
  #gld_units #test1 {
    width: 0.8129237073%; }
  #gld_units #test2 {
    width: 1.3154105296%; }
  #gld_units #test3 {
    width: 2.1283342369%; }
  #gld_units #test4 {
    width: 3.4439065322%; }
  #gld_units #test5 {
    width: 5.572240769%; }
  #gld_units #test6 {
    width: 9.0165708237%; }
  #gld_units #test7 {
    width: 14.5888115927%; }
  #gld_units #test8 {
    width: 23.6064912503%; }
  #gld_units #test9 {
    width: 38.195302843%; }
  #gld_units #test10 {
    width: 61.804697157%; }
  #gld_units #test11 {
    width: 100%; }

/* #gld_units */
.tdright {
  border-right: 2px dashed gray; }

#color_text {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5.572240769%; }
  #color_text #lighterc {
    color: #e1e1e1; }
  #color_text #lightc {
    color: #a5a5a5; }
  #color_text #basec {
    color: gray; }
  #color_text #darkc {
    color: #5b5b5b; }
  #color_text #darkerc {
    color: #1f1f1f; }

code {
  background-color: #e1e1e1;
  padding: 3.4439065322%;
  display: inline-block;
  border: 1px solid #a5a5a5; }
