/* @group Columns Group */
.columns2 { 
	-moz-column-count: 2;
	-moz-column-gap: 3em;
	
	-webkit-column-count: 2;
	-webkit-column-gap: 3em;
	
	column-count: 2;
	column-gap: 3em;
}

.columns3, .columns4  {
	width: $full;
	div { 
		float: left;
		margin-right: $gld5;
	}
	p { text-align: left; }
}

.columns3 div { width: $lineHeight / 6; }
.columns4 div { width: $lineHeight / 9; }	


/* @end */