@media screen and (min-width: $at_desktop ) {

	body.desktop-nav {

		header nav {
			position: static;				/* place nav at top of window */		
			ul {
				position: static;
                
				li {						
					@include showContent;
					width: auto;
					clear: none;
					
					a {
					 font-size: $gld10 + $gld8;
					}
					
				} /* /li*/			
			
				&:hover li {
					background: none;
				}
				
				&:before {
					display: none;         /* No MENU icon */
				}
			
			} /* /ul */		
		} /* /header nav */
	
	} /*  |---------------|END of Desktop Nav |---------------|  */
	
} /*/@media desktop*/