canvas { -ms-touch-action: double-tap-zoom; }

@media screen and (max-width: 768px) {
	#wrapper { 
		margin: 0;
		width: $base;
		padding: $gld3; 
		}

 	.full, .large, .xlarge, .med, .small, .xsmall, columns2, .columns3, .columns4, header, footer {
 		float: none;
 		width: $base;
 	}
 	
 	.xsmall li { display: inline-block; }	
 
 	.columns2 { 
 		-moz-column-count: 1; 
 		-webkit-column-count: 1; 
 		column-count: 1 
 	}
 	
 	.columns3 div, .columns4 div  {
		width: $full;
 	}
 	
 	h1, h2, h3, h4, h5, h6 { 
 		font-size: $h3; 
 		line-height: $h3;
 		position: static;
 	}
 	
 	img.left, img.right {
 		float: none;
 	}
}