/* Golden Ratio 1.618 */
	$golden:	1.618;
	
	$base: 		100%;						
	$gld10:		$base / $golden;			
	$gld9:		$base - $gld10;
	$gld8:		$gld9 / $golden;
	$gld7:		$gld9 - $gld8;
	$gld6:		$gld7 / $golden;
	$gld5:		$gld7 - $gld6;
	$gld4:		$gld5 / $golden;
	$gld3:		$gld5 - $gld4;
	$gld2:		$gld3 / $golden;			
	$gld1:		$gld3 - $gld2;
	
	$full:		$base;
					
/* -----------------------------  */
/* Color Scheme */
	$baseColor: 			gray; 	/* Base Color for Design */
	$baseColorLighter:		lighten($baseColor, $gld9);
	$baseColorLight:		lighten($baseColor, $gld7);
	$baseColorDark:			darken($baseColor, $gld7);
	$baseColorDarker:		darken($baseColor, $gld9);
	

/* $group Styles */
	$sans:	"Avenir Next Condensed", "Avenir Next", Verdana, sans-serif;
	$serif: "Georgia", serif;

/* Type Ratio */
	$type10:	100 / $golden;			
	$type9:		100 - $type10;
	$type8:		$type9 / $golden;
	$type7:		$type9 - $type8;
	$type6:		$type7 / $golden;
	$type5:		$type7 - $type6;
	$type4:		$type5 / $golden;
	$type3:		$type5 - $type4;
	$type2:		$type3 / $golden;			
	$type1:		$type3 - $type2;
    
    $viewPortHeight: 1.618vh; 

    $h1: $type5 * $viewPortHeight;
	$h2: $type4 * $viewPortHeight;
	$h3: $type3 * $viewPortHeight;
	$h4: $type2 * $viewPortHeight;
	$h5: $type1 * $viewPortHeight;
	$h6: $type1 * $viewPortHeight;

/* Typography metrics & leading */
	$lineHeight: $golden;