.full, .large, .xlarge, .med, .small, .xsmall, .columns3, .columns4, img, embed, object, video, iframe {
	float: left;
	overflow: hidden;
	max-width: $base;
}

.full		{ width: $base }
.large		{ width: $gld10 }
.xlarge		{ width: $base - ($gld7 + $gld7) }
.med		{ width: $gld9 }
.small		{ width: $gld8 }	
.xsmall		{ width: $gld7 }
.columns3	{ width: 33% }
.columns4	{ width: 25%; }

#wrapper {
	margin: $gld3 auto;
	width: $gld10 + $gld8;
}

aside { margin-top: $gld4; }

header, section, footer, .full, hr { 
	clear: both; 
	display: block;
	}

/* PADDING / HYPHANS / METERING SETTINGS */
.full, header, footer, .large, .xlarge, .med, .small, .xsmall, .columns3, .columns4 { padding:  $gld3 $gld4; } 

img, embed, object, video, iframe { 
	padding: $gld4 $gld2; 
	display: inline-block;
	clear: both;
	float: none;
	}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	word-wrap: break-word;
	-webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}
