*, body {
	word-wrap: break-word;
	
	-webkit-hyphens: auto; 
	-moz-hyphens: auto; 
	hyphens: auto;
	
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
	font-family: $sans;
	color: $baseColorDarker;
}


h1, h2, h3, h4, h5, h6 {
	line-height: $lineHeight;
}

h1 { font-size: $h1; }
h2 { font-size: $h2; }
h3 { font-size: $h3;  }
h4 { font-size: $h4;  }
h5 { font-size: $h5;  }
h6 { font-size: $h6;  }

p, li, dt, dd, table, form { 
	line-height: $lineHeight;
	font-weight: normal;
	font-size: $h4;
}

p { 
	font-family: $serif; 
	padding-bottom: ($lineHeight / 50);
}

.full, .large, .xlarge {
 	p{ text-align: justify; }
}

h5, h6, em, strong { letter-spacing: 1px }


/*-----------------------------*/
/* Typography Mixins */
@mixin first_goldenH1 {
	line-height: ( $lineHeight / ($gld10) )/2;
	position: relative;
	top: 0;
}
@mixin first_goldenH2 {
	line-height: ( $lineHeight / ($gld9) )/2;
	position: relative;
	top: 1rem;
}
@mixin first_goldenH3 {
	line-height: ( $lineHeight / ($gld8) )/2;
	position: relative;
	top: 1.5rem;
}
@mixin first_goldenH4 {
	line-height: ( $lineHeight / ($gld7) )/1.5;
	position: relative;
	top: 2rem;
}
@mixin first_goldenH5 {
	line-height: ( $lineHeight / ($gld6) )/1.70;
	position: relative;
	top: 2rem;
}
@mixin first_goldenH6 {
	line-height: ( $lineHeight / ($gld5) )/2.2;
	position: relative;
	top: 2rem;
}
/*-----------------------------*/
/*First Header item, lines up for grid*/
.full, .large, .xlarge, .med, .small, .xsmall { 
	h1:nth-child(1) { @include first_goldenH1; }
	h2:nth-child(1) { @include first_goldenH2; }
	h3:nth-child(1) { @include first_goldenH3; }
	h4:nth-child(1) { @include first_goldenH4; }
	h5:nth-child(1) { @include first_goldenH5; }
	h6:nth-child(1) { @include first_goldenH6; }
}
/*-----------------------------*/	
	.columns2, .columns3, .columns4  {
		h1, h2, h3 { 
			position: static !important;
			top: 0 !important;
			line-height: $lineHeight !important;
		}
	}
/*-----------------------------*/	
