*, body {
	word-wrap: break-word;
	
	-webkit-hyphens: auto; 
	-moz-hyphens: auto; 
	hyphens: auto;
	
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
	font-family: $sans;
	color: $baseColorDarker;
}

h1 { @include goldenH1; }
h2 { @include goldenH2; }
h3 { @include goldenH3; }
h4 { @include goldenH4; }
h5 { @include goldenH5; }
h6 { @include goldenH6; }

p, li, dt, dd, table, form { 
	line-height: $lineHeight;
	font-weight: normal;
	font-size: $h4;
}

p { 
	font-family: $serif; 
	padding-bottom: ($lineHeight / 50);
}

.full, .large, .xlarge {
 	p{ text-align: justify; }
}

h5, h6, em, strong { letter-spacing: 1px }