*, body {
	word-wrap: break-word;
	
	-webkit-hyphens: auto; 
	-moz-hyphens: auto; 
	hyphens: auto;
	
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
	font-family: $sans;
	color: $baseColorDarker;
}

/* typography size */
h1 { font-size: $gld5 * 100; }
h2 { font-size: $gld4 * 100}
h3 { font-size: $gld3 * 100}
h4, dt, dd, li, p { font-size: $base }
h5 { font-size: $gld2 * (100 / 2)}
h6 { font-size: $gld3 * (100 / 2) }

/* typography metrics & leading */
p, h1, h2, h3, h4, h5, h6, li, dt, dd, table, form { 
	line-height: $base / $golden;
	font-weight: normal;
	}
	
p { 
	font-family: $serif; 
	padding: $gld2 0;
} /* p element */

h5, h6, em, strong { letter-spacing: 0.1em }