@media screen and (max-width: 768px){
/* =========================================================== */
	header { margin-top: $gld6; } 									/* drop down wrapper for top nav spot */
	header nav {
		position: fixed;											/* place nav at top of window */
		top: 0;
		left: 0;
		z-index: 99;
	
		background-color: $baseColorLighter;						/* default color / style of nav */
		opacity: 0.95;
		box-shadow: 0 8px 6px -6px $baseColorLight;
		
		ul {	
			li {		
				float: none;										/* Remove floats for mobile design */	
				
				height: 0;											/* hide the drop down content */
				text-indent: -9999px;							
				margin-top: -$gld8;									
				
				border-right: none;									/* No line on the right side */
				width: $full;										/* makes buttons fill width	*/
				a { 
					display: block; 								/* make links buttons */
					&:hover, &:active { 							/* remove hover / active default color */
						background: none;
						color: $baseColorDark;
					}
				}
				
				ul:before, ul li { display:none } 					/* Hide 2nd lvl nav */
			} /* /li*/
			
			&:before {
				display: block;										/* make link a button */
				content: "\2630";									/* Unicode Character TRIGRAM FOR HEAVEN (U+2630) */	
				font-size: $h3;										/* button size */
				line-height: $lineHeight;							/* button lineHeight */
				padding: 0 0.6em;									/* move button from corner */
				background-color: $baseColorLighter;				/* background color of button */
				border-bottom-right-radius: 8px;					/* little style */
			} /* /ul:before */
			/* =========================================================== */
			&:hover, &:active, &:link, &:target { 
				li{
					height: $full;									/* SHOW the drop down content */
					text-indent: 0;
					margin-top: 0;
					
					a:hover, a:active, a:link, a:target { 			/* drop down link color darker */
						color: $baseColorDarker;
					}
					
					-webkit-transition-property: margin-top, text-indent;	/* CSS3 transition */
					-moz-transition-property: margin-top, text-indent;
					transition-property: margin-top, text-indent;
					
					-webkit-transition-duration: 0.3s, 0.5s;
					-moz-transition-duration: 0.3s, 0.5s;
					transition-duration: 0.3s, 0.5s;
					
					-webkit-transition-delay: 0s, -0.2s;
					-moz-transition-duration: 0s, -0.2s;
					transition-duration: 0s, -0.2s;
				}
			} /* /hover */
			
			&:hover + #mobile_nav{
				@media (max-device-width : 768px) {					/* magic code for iOS hide buttons */
					width: $full;
					z-index: 99;
				}
			}
		/* =========================================================== */
		} /* /ul */		
	} /* /nav */
} /* /@media portrait */

#mobile_nav {												/* magic hide button for iOS to hide drop down content */
	content: "test";

	font-size: $h3;
	line-height: $lineHeight;
	display: block;
	
	position: fixed;										/* place the magic hide button */
	top: 0;
	right: 0;

	border: none;											/* reset this as a invisible button */
	background: none;
	padding: 0;
	margin: 0;
	width: 0;				/* no width on device at start */
}	

/* ================================================================= */
/*				Colors	TESTING									 	*/
/* =============================================================== */

/*header{
	nav{
		ul {
			&:before { opacity: 0.2; }
			li {
				a {
					opacity: 0.2;
				}
			}
		}
	}
}

header nav { background-color: black; }
header nav ul { background-color: orange; }
header nav ul:before { background-color: olive; }
header nav ul li { background-color: yellow; }
header nav ul li a{ background-color: red; }
#mobile_nav { 
	background-color: purple;
	opacity: 0.5;
}*/
