@media screen and (min-width: 60em ) {

	/*Layout*/
	.full, .large, .xlarge, .med, .small, .xsmall { float: left; }
	
	.full		{ width: $full }
	.large		{ width: $gld10 }
	.xlarge		{ width: $full - ($gld7 + $gld7) }
	.med		{ width: $gld9 }
	.small		{ width: $gld8 }	
	.xsmall		{ width: $gld7 }
	
/* =========================================================== */
	
	/* PADDING / METERING SETTINGS */
	.full, header, footer, .large, .xlarge, .med, .small, .xsmall, .columns3, .columns4 { padding:  $gld4; } 
	
/* =========================================================== */
	
	/*Typography*/
	h1 { font-size: $h1; }
	h2 { font-size: $h2; }
	h3 { font-size: $h3; }
	h4 { font-size: $h4; }
	h5 { font-size: $h5; }
	h6 { font-size: $h6; }
	
/* =========================================================== */
	
	/*Images*/
	img.left {
		margin: $gld1 $gld4 $gld1 $gld1;
		float: left;
	}
	img.right {
		margin: $gld1 $gld2 $gld1 $gld5; 
		float: right;
	}
	
/* =========================================================== */
	
	
	/* Columns */
	.columns2 { 
		-moz-column-count: 2;
		-moz-column-gap: 3em;
		
		-webkit-column-count: 2;
		-webkit-column-gap: 3em;
		
		column-count: 2;
		column-gap: 3em;
	}
	
	.columns3, .columns4  {
		width: $full;
		div { 
			float: left;
			margin-right: $gld5;
		}
		p { text-align: left; }
	}
	
	.columns3 div { width: $lineHeight / 6; }
	.columns4 div { width: $lineHeight / 9; }	
	
/* =========================================================== */

}