body.images {
	img, embed, object, video {
		border-style: none;
		width: auto;
		max-width: $full;
		height: auto;
		vertical-align: middle;
		padding: $gld4 $gld1;
	}
} /*  |---------------| END body |---------------|  */