img, embed, object, video, iframe {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	border-style: none;
	width: auto;
	max-width: $full;
	height: auto;
	vertical-align: middle;
	padding: $gld4 $gld1;
}

img.left {
	margin: $gld1 $gld4 $gld1 $gld1;
	float: left;
}
img.right {
	margin: $gld1 $gld2 $gld1 $gld5; 
	float: right;
}
