body.images {
	img, embed, object, video {        
		border-style: none;
		width: auto;
		max-width: $full;
		height: auto;
		vertical-align: middle;
        padding: 1.618vw;
	}
} /*  |---------------| END body |---------------|  */