body.layout {
	*, body, img, embed, object, video, iframe {
		@include borderBox;	
	}
	
    margin-top: $golden * (1.618vh * 3);
    
    section, hr {
        border-bottom: 1px solid $baseColor;
        box-shadow: 0 8px 6px -6px $baseColorLight;	
    }
    
	/* @group NINJA MOVE */
	section, .clearfix, .group, header, footer, .full { 
        @include clearFix;
	}
    
    section { 
        @include flexbox;
        @include flexColumn;
    }
    
	/* @end */
	
	/* =========================================================== */
	header, footer, article, aside, div { padding:  $gld4; } 

}/*  |---------------|END of Body layout |---------------|  */

