@mixin borderBox {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/* =========================================================== */

body.layout {
	canvas { -ms-touch-action: double-tap-zoom; }

	*, body, img, embed, object, video, iframe {
		@include borderBox;	
	}
	
	/* @group NINJA MOVE */
	section, .clearfix, .group, header, footer, .full { 
		&:before, &:after {
			content: "\0020";
			display: block;
			height: 0;
			overflow: hidden;
			visibility: hidden; 
		}
		&:after {
			clear: both;
		}
	}
	/* @end */
	
	/* =========================================================== */
	header, footer, article, aside, .columns2, .columns3, .columns4 { padding:  $gld4; } 

}/*  |---------------|END of Body layout |---------------|  */

/* ================================================================= */
/*				@breakpoint				 							*/
/* =============================================================== */
$at_desktop: 60em;