@mixin borderBox {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
/* =========================================================== */

body.layout {
	*, body, img, embed, object, video, iframe {
		@include borderBox;	
	}
	
    margin-top: $golden * (1.618vh * 3);
    
    section, hr {
        border-bottom: 1px solid $baseColor;
        box-shadow: 0 8px 6px -6px $baseColorLight;	
    }
    
	/* @group NINJA MOVE */
	section, .clearfix, .group, header, footer, .full { 
		&:before, &:after {
			content: "\0020";
			display: block;
			height: 0;
			overflow: hidden;
			visibility: hidden; 
		}
		&:after {
			clear: both;
		}
	}
    
    section { 
        display: flex;
        align-items: baseline;
        
        
        // mobile first layout
        flex-direction: column;
    }
    
	/* @end */
	
	/* =========================================================== */
	header, footer, article, aside, div { padding:  $gld4; } 

}/*  |---------------|END of Body layout |---------------|  */

