body.links {

	a {
		color: $baseColorDarker;
		text-decoration: none;
		position: relativve;
		z-index: 95;
	}
	a:hover { color: $baseColorLight }
	a:active { color: $baseColorDark }
	
	p a {
		color: $baseColor;
		text-decoration: underline;
        
        &:hover {
            text-decoration: none;
        }
	}
	
} /*  |---------------|END of Body Links |---------------|  */
