/* ================================================================= */
/*				headerNav Icon Image				 				*/
/* =============================================================== */
$headerNavIcon:	url(menu_icon.gif);

/* ================================================================= */
/*				Mixin Transition								 	*/
/* =============================================================== */
@mixin navTransition {
	text-indent: 0;
	margin-top: 0;
	white-space: normal;
	

/*	-webkit-transition-property: margin-top, text-indent;	/* CSS3 transition *!/
	-moz-transition-property: margin-top, text-indent;
	transition-property: margin-top, text-indent;
	
	-webkit-transition-duration: 0.3s, 0.3s;
	-moz-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s;
	
	-webkit-transition-delay: 0s, 0.06s;
	-moz-transition-duration: 0s, 0.06s;
	transition-duration: 0s, 0.06s;	*/
}
/* ================================================================= */
/*				1st lvl menu				 						*/
/* =============================================================== */
nav {
	position: relative;
	z-index: 99;
	
	ul {
		list-style: none;	
		li {
			float: left;
			position: relative;
			a {
				padding: 0.5em 1.25em;
				text-decoration: none;
				display: block;
				min-height: 2.75em;
				
				&:hover { 
					color: white;
					background-color: $baseColorDark;
				}
			}
		}
	}	
}
/* ================================================================= */
/*				2rd lvl menu				 						*/
/* =============================================================== */
nav ul li {
	&:hover ul {
		z-index: 99;
		display: block;
		position: absolute;
		float: none;
	}
	ul {
		display: none;
		width: 0;
		li a { 
			min-width: 12em;
			background-color: $baseColorLighter;
		}
	}
}
/* ================================================================= */
/*				3rd lvl menu				 						*/
/* =============================================================== */
nav ul li:hover ul li {
	ul { display: none; }
		
	&:hover ul {
		display: block;
		position: absolute;
		margin-top: -2.5em;
		left: 5em;
	} 
}	
/* ================================================================= */
/*				Header Nav Bar				 						*/
/* =============================================================== */
header nav {
	position: fixed;							/* place nav at top of window */
	top: 0;
	left: 0;
	background-color: $baseColorLighter;		/* default color / style of nav */
	
	
	ul {
		li {
			float: none;						/* Vertical Nav */
			text-indent: -9999px;							
			margin-top: -50px;
			white-space: nowrap;
			
			ul:before {
				display:none;
			}
			
			/* 2nd lvl nav */
			ul li a{
				position: relative;
				left: 5em;
				top: -2.5em; 
				background-color: $baseColorLight;
			} 					
			
		} /* /li*/
		
		&:before {
			z-index: 99;
			content: "\0020";
			background-image: $headerNavIcon;
			background-size: 34px;
			background-repeat: no-repeat;
			background-position: center center;
			height: 64px;
			width: 64px;		
			display: inline-table;
			padding: 0.25em 0.5em;				/* move button from corner */
			background-color: $baseColorLighter;		
		} /* /ul:before */
		/* ================================================================= */
		/*				Header Transition				 					*/
		/* =============================================================== */
		&:hover li{
			@include navTransition;	
		} 
		/* =========================================================== */
	} /* /ul */		
	
} /* /header nav */
