nav {
	
	ul {
		list-style: none;
		
		li {
			float: left;
		
			a {
				padding: 0.5em 1.25em;
				display: block;
				z-index: 98;
				
				&:hover { 
					color: $baseColorLighter;
					background-color: $baseColorDark;
				}
			}
		}
	}	
}


/* =========================================================== */
/*2nd lvl*/
nav ul li:hover ul {
	display: block;
	position: absolute;
}

/* $group 2nd Level Nav */
nav ul li ul {
	z-index: 99;
	display: none;
	width: 0;
	li {
		background-color: $baseColorLighter;
		a {
			width: 15em;
		}
	}
}

/* =========================================================== */
header nav {
	position: fixed;											/* place nav at top of window */
	top: 0;
	left: 0;
	z-index: 99;
	background-color: $baseColorLighter;						/* default color / style of nav */
	opacity: 0.95;
	
	ul {	
		li {
			float: none;										/* Vertical Nav */
			text-indent: -9999px;							
			margin-top: -4em;	
			
			ul:before, ul li { display:none } 					/* Hide 2nd lvl nav */
			
		} /* /li*/
		
		&:before {
			font-family: menuicon;
			content: "=";										/* Unicode Character TRIGRAM FOR HEAVEN (U+2630) */	
			font-size: $h2;										/* button size */
			
			padding: 0.25em 0.5em 0;								/* move button from corner */
			
			display: inline-table;
			vertical-align: middle;
			
			background-color: $baseColorLighter;
		} /* /ul:before */
		/* =========================================================== */
			
		&:hover { 
			li{
				
				text-indent: 0;
				margin-top: 0;
				
				-webkit-transition-property: margin-top, text-indent;	/* CSS3 transition */
				-moz-transition-property: margin-top, text-indent;
				transition-property: margin-top, text-indent;
				
				-webkit-transition-duration: 0.3s, 0.3s;
				-moz-transition-duration: 0.3s, 0.3s;
				transition-duration: 0.3s, 0.3s;
				
				-webkit-transition-delay: 0s, 0.06s;
				-moz-transition-duration: 0s, 0.06s;
				transition-duration: 0s, 0.06s;			
			
				a {
					width: 15em;	
				}
			}
		} /* /hover */
			

		&:hover + #mobile_nav{
			@media (max-device-width : 768px) {					/* magic code for iOS hide buttons */
				width: $full;
				z-index: 99;
			}
		}
		
		
	/* =========================================================== */
	} /* /ul */		
	
	
} /* /header nav */


#mobile_nav {												/* magic hide button for iOS to hide drop down content */
	font-size: $h2;
	position: fixed;										/* place the magic hide button */
	top: 0;
	right: 0;
	border: none;											/* reset this as a invisible button  */
	background: none;
}	