body.type {
	hyphens: auto;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: $sans;
	color: $baseColorDarker;
	line-height: $lineHeight;


	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		padding-bottom: 1rem;
	}
	
	h1 { font-size: $h1 }
    h2 { font-size: $h2 }
    h3 { font-size: $h3 }
    h4 { font-size: $h4 }
    h5 { font-size: $h5 }
    h6 { font-size: $h6 }
    
    p, li, dt, dd, table, form { 
		font-weight: normal;
		font-size: $h4;
	}
    
	p { 
		font-family: $serif;
		padding-bottom: $viewPortHeight;
	}
	
	h5, h6, em, strong { letter-spacing: 1px }
	
	/* no list style for ul or ol */
	.unstyle { list-style: none }

} /*  |---------------|END type |---------------|  */

