@media screen and (max-width: 768px) {
	#wrapper { padding: @3gld }

 	.full, .large, .xlarge, .med, .small, .xsmall, .columns3, .columns4, header, footer {
 		float: none;
 		width: @base;
 	}
 	
 	.xsmall li { float: left; }
 	
 	.columns3, .columns4 { width: @10gld + @8gld; }		
 
 	.pcolumns { -moz-column-count: 1; -webkit-column-count: 1; column-count: 1 }
 	
 	h1, h2 { font-size: @base * @3gld }
}